:root {
	--color-blue: rgb(73, 138, 220);
	--color-purple: rgb(98, 59, 156);
}

.t-dark-background-text {
	color: white;
}

.t-accent-text {
	color: var(--color-purple);
}

.t-page-header__area {
	background-image: linear-gradient(to bottom, var(--color-blue), var(--color-purple));
}

.t-search-box__background {
	background-color: var(--color-purple);
}

.t-search-button__background {
	background-color: rgba(255, 255, 255, 40%);
}