/* Headers */

.l-page-header__area {
	min-height: 100vh;
	padding: 20pt;
}

.l-page-header__flexbox {
	display: flex;
	flex-direction: column;
}

.o-page-name__header {
	font-size: 45pt;
	text-align: center;
}

.o-page-name__subheader {
	font-size: 33pt;
	text-align: center;
}
