/* Headers */

.l-page-section__header {
	min-height: 100vh;
}

.l-page-header__flexbox {
	display: flex;
	flex-direction: column;
	padding: 20pt;
	flex-grow: 1;
}

.l-page-header {
	display: flex;
	flex-direction: column;
	max-width: 100%;
}

.c-page-header {
	line-height: 1.5;
}


.o-page-name__title {
	font-size: xx-large;
	text-align: center;
}

.o-page-name__subtitle {
	font-size: x-large;
	text-align: center;
}

/* Tablet view */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
	.l-page-header__flexbox {
		flex-direction: row;
		flex-wrap: wrap;
	}
	
	.l-page-header {
		margin: auto;
	}
}

/* PC view */
@media only screen and (min-width: 1024px) {
	.l-page-section__header {
		min-height: 10vh;
		max-height: 400px; /* This is never achieved since it is overwritten by min-height */
	}
	
	.l-page-header__flexbox {
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
	}
	
}