/* Headers */

.l-page-section__header {
	min-height: 100vh;
}

.l-page-header__flexbox {
	display: flex;
	flex-direction: column;
	padding: 20pt;
}

.l-page-header {
	max-width: 100%;
}

.c-page-header {
	line-height: 1.5;
}


.o-page-name__title {
	font-size: xx-large;
	text-align: center;
}

.o-page-name__subtitle {
	font-size: x-large;
	text-align: center;
}

/* Tablet view */
@media only screen and (min-width: 600px) and (max-width: 1023px) {
	.l-page-header__flexbox {
		flex-direction: row;
		flex-wrap: wrap;
	}
	
	.l-page-header {
		margin: auto;
	}
}
