@import url("reset.css");
@import url("typography.css");
@import url("colors.css");

/* Headers */

.l-page-header__area {
	min-height: 100vh;
	padding: 20pt;
}

.o-page-header {
	font-size: 45pt;
	text-align: center;
}

.o-page-subheader {
	font-size: 33pt;
	text-align: center;
}

/* Search box */

.l-search__section {
	display: flex;
	flex-direction: column;
}

.l-search-box__par {
	display: flex;
	max-width: 400px;
}

.o-search-box-header {
	font-size: 22pt;
	margin-top: 2em;
	margin-bottom: 1em;
}

.l-search-box {
	--h-padding: 1em;
	padding: 0 var(--h-padding);
	max-width: calc(75% - var(--h-padding) * 2);
}

.o-search-box {
	font-size: 20pt;
}

.l-submit {
	flex-grow: 1;
}

.o-submit {
	font-size: 16pt;
}

/* Weather information */

.l-time--current::before {
	display: block;
}

.o-time {
	font-size: 35pt;
	font-weight: 300;
}

.o-time--current::before {
	content: "current";
}

.o-weather-icon {
	--weather-icon-width: 150px;
	--weather-icon-height: 100px;
	width: var(--weather-icon-width);
	height: var(--weather-icon-height);
	background-size: contain;
}

.o-temp {
	font-size: 85pt;
	font-weight: 300;
}

.o-temp::after {
	content: "\b0";
}