/* The map clip */

.l-map-clip__flex-item {
	display: flex;
	justify-content: center;
	flex-basis: 50%;
	flex-grow: 0;
	flex-shrink: 2;
}

.l-map-clip__container {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 300px;
}

.l-map-clip {
	position: relative;
	width: 100%;
	height: 0;
	padding-top: 100%; /* must be used within a container; keep the aspect ratio */
}

.c-map-clip {
	clip-path: circle(50%);
}

/* Layers */

.l-map-clip__layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.o-map-clip__layer {
	background-repeat: no-repeat;
	background-size: cover;
}

.o-map-clip__map {
	background-image: url(http://radar.weather.gov/ridge/Overlays/Topo/Short/DAX_Topo_Short.jpg);
}

.o-map-clip__cities {
	background-image: url(http://radar.weather.gov/ridge/Overlays/Cities/Short/DAX_City_Short.gif);
}

.o-map-clip__doppler {
	background-image: url(https://radar.weather.gov/ridge/RadarImg/N0R/DAX_N0R_0.gif);
}

/* Mobile */

@media only screen and (max-width: 600px) {
	.l-map-clip__container { 
		display: none;
	}
}

/* Tablet */

@media only screen and (min-width: 600px) and (max-width: 1024px) {
	.l-map-clip__flex-item { 
		flex-basis: 50%;
		flex-grow: 0;
	}
	
	.l-map-clip__container {
		align-items: center;
	}
}

/* PC */

@media only screen and (min-width: 1024px) {
	.l-map-clip__flex-item {
		width: 30%; 
		flex-basis: 100%;
		flex-grow: 1;
		margin-left: 10%;
	}
	
}
