/* The map clip */

.c-map-clip__container {
	--size: 350px;
	width: var(--size);
	height: var(--size);
}

.l-map-clip {
	position: relative;
}

.c-map-clip {
	width: 100%;
	height: 100%;
	clip-path: circle(50%);
}

/* Layers */

.l-map-clip__layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.o-map-clip__layer {
	background-repeat: no-repeat;
	background-size: cover;
}

.o-map-clip__map {
	background-image: url(http://radar.weather.gov/ridge/Overlays/Topo/Short/DAX_Topo_Short.jpg);
}

.o-map-clip__cities {
	background-image: url(http://radar.weather.gov/ridge/Overlays/Cities/Short/DAX_City_Short.gif);
}

.o-map-clip__doppler {
	background-image: url(https://radar.weather.gov/ridge/RadarImg/N0R/DAX_N0R_0.gif);
}