/* Search */

.l-search__section {
	display: flex;
	flex-direction: column;
	margin: 20pt auto;
	max-width: 100%;
}

.l-search-box__par {
	display: flex;
	max-width: 100%;
}

.l-search-box__title {
	flex-grow: 1;
}

.o-search-box__title {
	font-size: x-large;
}

.l-search-box__par {
	display: flex;
}

.l-search-box {
	padding: 0 1em;
	min-width: 0;
	flex-grow: 1;
}

.o-search-box {
	font-size: 20pt;
}

.l-submit {
	flex-grow: 1;
}

.o-submit {
	font-size: 16pt;
	padding: 0 0.5em;
	flex-basis: 30%;
}

@media only screen and (max-width: 600px) {
	.o-search-box__title {
		line-height: 3;
	}
}

@media only screen and (min-width: 600px) {
	.l-search__section {
		flex-direction: row;
		width: 600px;
		max-width: 100%;
	}
	
	.l-search-box__par {
		max-width: 75%;
	}
	
	.l-search-box {
		margin-right: 10pt;
	}
	
}
