/* Buttons to switch view */

.l-switch-view {
	--button-size: 80px;
	height: var(--button-size);
	width: 100%;
	flex-shrink: 0;
}

.o-switch-view {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.o-switch-view__up {
	background-image: url(../assets/up.svg);
}

.o-switch-view__down {
	background-image: url(../assets/down.svg);
}

@media only screen and (min-width: 600px) {
	.o-switch-view {
		display: none;
	}
}