/* Weather information */

@import url("weather-icons.css");

:root {
	--current-time-temp-gap: 5%;
	--border: 2px solid lightgray
}

/* Current weather container */

.l-weather__flex-item--current {
	display: flex;
	flex-basis: 50%;
	justify-content: center;
}

.l-weather__container--current {
	display: flex;
	align-items: center;
	flex-grow: 1;
	max-width: 400px;
	width: 100%;
	margin: auto;
}


/* Future weather container */

.l-weather__container--future {
	display: flex;
	flex-direction: column;
	width: 600px;
	max-width: 100%;
	margin: auto;
}

/* Weather flex box item */

.l-weather-item {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 150px;
}

.l-weather-item--future {
	
}

.c-weather-item {
	text-align: center;
	line-height: 1;
}

.l-weather-item--current {
	flex-grow: 1;
	flex-wrap: wrap;
}

.c-weather-item--future:not(:last-child) {
	border-bottom: var(--border);
}


.l-weather-item__element--future {
	flex-grow: 1;
}


/* Time */

.o-time {
	font-size: 25pt;
	font-weight: 300;
	text-align: right;
}

.l-time--current {
	padding-right: var(--current-time-temp-gap);
	flex-basis: 25%;
	flex-grow: 1;
	flex-shrink: 2;
}

.o-time--current {
	border-right: 4px solid black;
}
.o-time--current::before {
	content: "current\000A";
	white-space: pre;
}


/* Weather condition icon */

.l-weather-icon--current {
	order: -1;
	flex-basis: 80%;
	break-after: always;
	margin: 10pt auto;
	width: 80%;
	padding-top: 50%;
}

.l-weather-icon--future {
	flex-basis: 30%;
	min-height: 90px;
	margin: auto 10pt;
}

.o-weather-icon {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-clip: padding-box;
}


/* Temperature */

.l-temp--current {
	flex-basis: 30%;
	flex-grow: 1;
	padding-left: var(--current-time-temp-gap);
}

.l-temp--future {
	flex-basis: 25%;
}

.o-temp {
	font-size: 75pt;
	font-weight: 300;
	text-align: left;
}

.o-temp::after {
	content: "\b0";
}

/* Tablet view */

@media only screen and (min-width: 600px) and (max-width: 1024px) {
	.l-weather__container--current { 
		flex-basis: 50%;
		margin: 0;
	}
}

/* Tablet and PC */

@media only screen and (min-width: 600px) {

	.l-weather__container--future {
		display: flex;
		flex-direction: row;
		width: 100%;
		margin-top: 20pt;
	}
	
	.l-weather-item--future {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		flex-grow: 1;
	}
	
	.c-weather-item--future:not(:last-child) {
		border-bottom: none;
		border-right: var(--border);
	}
	
	.o-time--future, .o-temp--future {
		text-align: center;
	}
	
	
	
	.l-weather-icon--future {
		margin: 10%;
	}

}

/* PC view */

@media only screen and (min-width: 1024px) {
	.l-weather__flex-item--current {
		align-items: stretch;
	}
	
	.l-weather__container--current {
		align-items: stretch;
		max-width: 600px;
	}
	
	.l-weather-item--current {
		flex-wrap: nowrap;
	}
	
	.l-time-current {
		flex-basis: initial;
	}
	
	.o-time--current {
		border: none;
	}
	
	.l-weather-icon--current {
		order: initial;
		flex-basis: 200px;
		flex-grow: 0;
		padding-top: 20%;
	}
	
}