/* Buttons to switch view */

.l-switch-view {
	--button-size: 80px;
	height: var(--button-size);
	width: 100%;
}

.o-switch-view {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.o-switch-view__up {
	background-image: url(../assets/up.svg);
}

.o-switch-view__up:focus{
	animation-duration: .5s;
	animation-name: slideup;
}

.o-switch-view__down {
	background-image: url(../assets/down.svg);
}

.o-switch-view__down:focus{
	animation-duration: .5s;
	animation-name: slidedown;
}

@media only screen and (min-width: 600px) {
	.o-switch-view {
		display: none;
	}
}
@keyframes slidedown {
	0% {
		.l-page-header__flexbox{
		display: flex;
		}
	}
  
	100% {
		.l-page-header__flexbox{
		display: none;
		}
	}
  }

@keyframes slideup {
	0% {
		.l-page-header__flexbox{
		display: none;
		}
	}
  
	100% {
		.l-page-header__flexbox{
		display: flex;
		}
	}
  }